body{
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

h1{
    color: saddlebrown;
    margin-left: 20px;
}

p{
    color:midnightblue;
    margin-left: 20px; 
}